body { 
background-color: #F8F7F7; 
text-decoration: none; 
font-family: Courier New, monospace; 
} 

#header { 
background-color: #FFF;
height: 5%; 
text-align: center;
font-size: x-large;
position: absolute; top: 0px; right: 0px; left: 0px;
padding-top: 1.3%; 
border: 1px solid #000;
}

#title {  
background-color: #B0C8E8 ;
position: absolute; top: 8%; right: 0px; left: 0px;
text-align: left; 
font-size: 120%;
font-family: Arial;
border: 1px solid #000; 
} 

#photo {
position: absolute; top: 35%; left: 8%;
} 

#home {

position: absolute; right: 1%; top: 33%; 
float: right; 
text-decoration: none;
font-size: x-large; 
width: 50%;
} 

#home2 { 
word-spacing: 30px; 
} 

#end { 
text-align: center; 
position: absolute; bottom: 0px; right: 0px; left: 0px; 
background-color: #fff;
padding-top: 0.4%; 
padding-bottom: 0.1%;
height: 30px; 
border: 1px solid #000; 
font-size: middle; 
min-width: 640px; 
color: #000; 
font-family: Arial; 
text-decoration: none; 
}

#pazzle{
font-family: Helvetica Narrow, sans-serif;
position: absolute; top: 25%; 
 }

#onclick1{
position: absolute; top: 80%;
background-color: #B0C8E8; 
border-radius: 7px;
padding-top: 0.8%;
padding-right: 0.8%;
padding-bottom: 0.8%;
padding-left: 0.8%;
font-size: large;
}


#onclick{
position: absolute; top: 40%;
background-color: #B0C8E8; 
border-radius: 7px;
padding-top: 0.8%;
padding-right: 0.8%;
padding-bottom: 0.8%;
padding-left: 0.8%;
font-size: large;
}

 